@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Ramabhadra&display=swap");

:root {
  --primary-color: #ed6a5e;
  --secondary-color: #ff8e72;
  --accent1-color: #4ce0b3;
  --accent2-color: #377771;

  --heading-font: "Ramabhadra", sans-serif;
  --paragraph-font: "Oxygen", sans-serif;

  --nav-background-color: #377771;
  --nav-link-color: #ffffff;
  --nav-hover-link-color: #ff8e72;
  --nav-hover-background-color: #29645e;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  background-color: var(--accent1-color);
  margin-bottom: 0.5rem;
}
header img {
  height: 90px;
  width: auto;
  background-color: var(--accent1-color);
  border-radius: 50%;
  margin: 5px;
}

header nav {
  display: flex;
  flex-direction: row;
  width: 100%;
}
header nav a {
  text-decoration: none;
  background-color: var(--nav-background-color);
  border: 1px solid var(--nav-hover-background-color);
  color: var(--nav-link-color);
  text-align: center;
  width: 140px;
  padding: 0.25rem 0;
}
header nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

.hero {
  position: relative;
}
.hero img {
  display: block;
  width: 100%;
  height: auto;
}
.hero h1 {
  position: absolute;
  top: 0;
  background-color: rgba(55, 119, 113, 0.7);
  width: 100%;
  text-align: center;
}
.hero article {
  position: absolute;
  top: 160px;
  background-color: rgba(55, 119, 113, 0.7);
  width: 84%;
  text-align: center;
  color: white;
}
.hero article p {
  padding: 25px;
}
.hero article img {
  float: right;
  width: 25%;
  height: auto;
  margin: 10px;
}

.hero section {
  display: grid;
  column-gap: 1em;
  justify-items: center;
  align-items: center;
  margin: 1em;
}
.hero section h2 {
  grid-area: header;
  text-align: center;
  margin: 0;
}

.history {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "header header header"
    "text1 img text2";
}
.history p {
  padding: 0 5px;
  margin: 0;
}
.history .history-1 {
  grid-area: text1;
}
.history .history-2 {
  grid-area: text2;
}
.history img {
  grid-area: img;
  width: 100%;
  max-width: 600px;
  height: auto;
}

.adventure {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    "header header header header header"
    ". . . . .";
}
.adventure figure {
  text-align: center;
  width: 85%;
}
.adventure figure img {
  width: 100%;
  height: auto;
}
.adventure figure figcaption {
  height: 1em;
  width: 100%;
}

footer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: ". copyright socials";
  justify-content: center;
  align-items: center;
  background-color: var(--accent1-color);
}
footer p {
  grid-area: copyright;
  text-align: center;
}
.socials {
  grid-area: socials;
}
.socials a {
  text-decoration: none;
  margin: 0 4px;
}
.socials a img {
  width: 1.7em;
  height: auto;
}

/* CONTACT PAGE STYLES */
.contact-body {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  width: 100%;
}
.contact-body section {
  display: flex;
  flex-flow: column;
  justify-items: center;
  text-align: center;
  width: 100%;
  background-color: var(--accent2-color);
  margin: 15px;
  padding-bottom: 30px;
  border-radius: 10px;
}
.contact-body section h2 {
  width: 100%;
  text-align: center;
  background-color: var(--accent1-color);
}

.find-us {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;
}
.find-us--contacts {
  display: flex;
  flex-flow: column;
  width: 50%;
  height: 80%;
  font-size: large;
  align-items: flex-start;
  margin-left: 50px;
  justify-content: space-evenly;
}
.find-us--contacts p {
  color: var(--nav-link-color);
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.find-us--contacts a {
  color: var(--nav-link-color);
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.find-us--map {
  width: 40%;
}
.find-us--map iframe {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.employee-profiles {
  display: flex;
  flex-flow: row;
  justify-items: center;
}
.employee-profiles img {
  max-height: 300px;
  width: auto;
}
.employee-profiles figcaption {
  color: var(--nav-link-color);
}

.contact-form {
  display: flex;
  flex-flow: column;
  text-align: left;
  margin: auto;
  color: var(--nav-link-color);
}
.contact-form .input-container {
  margin: 5px;
}
/* prettier-ignore */
.contact-form input:not([type="radio"]):not([type="checkbox"]), .contact-form textarea {
  width: 100%;
  padding: 5px;
}
.contact-form #submit-btn {
  font-size: large;
  align-self: center;
  width: 280px;
  padding: 5px 30px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 25px;
  margin-top: 20px;
}
.contact-form #submit-btn:hover {
  filter: brightness(85%);
}
.contact-form #submit-btn:active {
  filter: brightness(75%);
}

#wireframe {
  margin: 0 1em;
}

/* TRIPS STYLES */
.trips-body {
  display: grid;
  grid-template:
    "a b b b"
    "c c c c";
  gap: 15px;
}

#trips-section-1 {
  grid-area: a;
  text-align: center;
  max-height: 14em;
  border: 3px solid var(--accent2-color);
  border-radius: 10px;
  margin-top: 3em;
}

#trips-section-2 {
  grid-area: b;
}

#trips-section-3 {
  grid-area: c;
  text-align: center;
}

#upcoming-trips {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--primary-color);
}

#upcoming-trips thead {
  background-color: var(--secondary-color);
}

#upcoming-trips tr {
  border-bottom: 1px solid var(--primary-color);
}

#upcoming-trips td {
  padding: 3px;
}

.trip-container {
  display: flex;
  flex-flow: row;
  margin: 1em;
}

.trip-container p {
  padding: 1em;
  text-align: left;
  border-left: 4px solid var(--accent2-color);
}

.trip-container figure img {
  max-width: 300px;
  height: auto;
}

/* HOME PAGE STYLES */
.banner {
  position: relative;
}

.banner img {
  display: block;
  width: 100%;
  height: 120px;
  object-fit: cover;
  object-position: 0;
}

.banner h1 {
  position: absolute;
  top: 0;
  background-color: rgba(55, 119, 113, 0.7);
  width: 100%;
  text-align: center;
}

#home-main {
  display: grid;
  grid-template:
    "a b"
    "c b"
    "d d";
  gap: 1em;
}

.home-section {
  text-align: center;
}

.home-section img {
  max-width: 50%;
}

#trip-link {
  grid-area: a;
}

#mission {
  grid-area: b;
}

#services {
  grid-area: c;
}

#newsletter-section {
  grid-area: d;
  display: flex;
  flex-flow: column;
  justify-items: center;
  text-align: center;
  background-color: var(--accent2-color);
  margin: 15px;
  padding-bottom: 30px;
  border-radius: 10px;
}
