* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* prettier-ignore */
header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
}

nav {
  background-color: steelblue;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}

h1 {
  color: steelblue;
  border-bottom: 1px solid steelblue;
  margin-bottom: 0.8rem;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
}

p {
  padding: 0;
}

.temple a:link {
  color: #fff;
  text-decoration: underline;
}
.temple a:visited {
  color: #ccc;
}

aside h2 {
  position: absolute;
  /* top: 47px; */
  left: 100px;
}

aside img {
  width: 200px;
  height: auto;
}

footer {
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}

/* Class Selectors */
.box {
  margin: 1rem;
  padding: 1rem;
  background-color: #555;
  color: #fff;
  border: 1px solid #000;
}

/* Grid Display */
.grid {
  display: grid;
  align-items: center;
}

main {
  grid-column: 2/3;
  margin: 1rem;
}

aside {
  width: 20em;
  text-align: center;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}
